<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<clear/>
		<add name="ConnectionString1"
			 connectionString="Data Source=DESKTOP-0O1C8B6; Initial Catalog=Firma; Integrated Security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>